body {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
    color: black !important;
}

.form-control input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    background-color: #063970; /* Dark blue color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #052a5e; /* Darker blue for hover effect */
}

.submission-message {
    display: none;
    text-align: center;
    color: #28a745;
    font-size: 16px;
    margin-top: 20px;
}
